@use 'utilities' as *;

.nav {
	position: sticky;
	top: 0;
	background-color: $main-color;
	color: $light-color;
	box-shadow: 0 0 5px #00000060;
	z-index: 100;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__links {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 1em 0;
		list-style: none;
		background-color: $light-color;
		box-shadow: 0 2px 4px #4e4e4e6c;
		transform: scaleY(0);
		transform-origin: top;
		opacity: 0;
		transition: transform 0.3s, opacity 0.3s;
		z-index: 1000;
	}

	.show-nav {
		transform: scaleY(1);
		opacity: 1;
		max-height: 85vh;
		overflow-y: auto;
	}

	&__li {
		width: 100%;
	}

	&__link {
		display: inline-block;
		padding: 1em;
		width: 100%;
		text-decoration: none;
		font-size: 2.4rem;
		color: $dark-color;
	}

	&__link:hover {
		background-color: #f4f4f4;
	}

	&__logo {
		margin-left: 15px;
		padding: 0.7em 0;
	}

	&__logo-link {
		text-decoration: none;
		color: $light-color;
	}
}

.footer {
	background-color: $dark-gray-color;
	color: $light-color;

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		padding: 2.6em 1em;
	}

	&__heading {
		margin-bottom: 0.5em;
		font-size: 2.4rem;
	}

	&__box {
		margin-bottom: 1.4em;
	}

	&__about-us-text {
		color: #d8d8d8;
		font-size: 1.8rem;
	}

	&__links {
		list-style: none;
	}

	&__link {
		text-decoration: none;
		color: $light-color;
	}

	&__li {
		position: relative;
		margin-bottom: 0.5em;
		padding-left: 1.5em;
		font-size: 1.8rem;
		color: #d8d8d8;
	}

	&__li::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__mail-li::before {
		background-image: url('../img/icons/mail.svg');
	}

	&__map-li::before {
		background-image: url('../img/icons/map-pin.svg');
	}

	&__page-li::before {
		background-image: url('../img/icons/chevron-right.svg');
	}

	&__line {
		height: 1px;
		width: 100%;
		background-color: $light-color;
	}

	&__copyright {
		padding: 1.8em 0;
		text-align: center;
	}
}
