@use 'utilities' as *;

@media (width > 768px) {
	.section-padding {
		padding: 4em 1em;
	}

	.section-heading {
		font-size: 4.6rem;
	}

	.nav {
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		.hamburger {
			display: none;
		}

		&__links {
			position: static;
			flex-direction: row;
			padding: 0;
			background: none;
			transform: scaleY(1);
			box-shadow: none;
			opacity: 1;
		}

		&__link {
			position: relative;
			color: $light-color;
			font-size: 2.2rem;
		}

		&__link::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transform: scaleY(0);
			background-color: $light-color;
			transition: transform 0.2s;
			transform-origin: bottom;
		}

		&__link:hover {
			background: none;

			&::before {
				transform: scaleY(0.1);
			}
		}
	}

	.header {
		&__heading {
			margin-top: 1.4em;
		}

		&__text {
			width: 65%;
			font-size: 2rem;
		}

		&__form {
			&-heading {
				font-size: 4.2rem;
			}
		}

		&__stats {
			margin-top: 6.4em;

			&-heading {
				font-size: 5rem;
			}

			&-text {
				font-size: 1.8rem;
			}
		}
	}

	.services {
		&__card {
			width: 48%;

			&-heading {
				font-size: 2.2rem;
			}

			&-text {
				font-size: 1.45rem;
			}

			&-btn {
				padding: 0.4em 1em;
			}
		}
	}

	.about-us {
		&__info {
			align-items: stretch;
			flex-direction: row;
			gap: 1.8em;
		}

		&__box-text {
			margin-top: 0;
			width: 50%;
		}

		&__text {
			margin-top: 0;
			margin-bottom: 0.8em;
		}

		&__img {
			width: 50%;
		}
	}

	.features {
		&__cards {
			margin: 0 4em;
		}
	}

	.gallery {
		&__imgs {
			grid-template-columns: 1fr 1fr;
		}
	}

	.contact {
		&__info-card {
			&-icon {
				width: 100px;
			}

			&-text {
				margin-top: 0.4em;
				font-size: 2.4rem;
			}
		}
	}

	.header-subpage {
		&__heading {
			font-size: 6rem;
		}
	}

	.services-heading {
		font-size: 3.8rem;
	}

	.main-services {
		padding: 3.6em 2em;
	}
}

@media (width > 850px) {
	.main-services {
		flex-direction: row;
		gap: 2.4em;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}

	.service-info {
		width: 60%;

		&__text {
			font-size: 1.8rem;
		}
	}

	.related-services {
		width: 40%;
	}
}
