@use 'utilities' as *;

@media (width > 768px) {
	.section-padding {
		padding: 3em 1em;
	}

	.section-heading {
		font-size: 4.4rem;
	}

	.nav {
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		.hamburger {
			display: none;
		}

		&__links {
			position: static;
			flex-direction: row;
			padding: 0;
			background: none;
			transform: scaleY(1);
			box-shadow: none;
			opacity: 1;
		}

		&__link {
			position: relative;
			color: $light-color;
			font-size: 2.2rem;
		}

		&__link::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transform: scaleY(0);
			background-color: #e31a1a;
			transition: transform 0.2s;
			transform-origin: bottom;
		}

		&__link:hover {
			background: none;

			&::before {
				transform: scaleY(0.1);
			}
		}
	}

	.header {
		&__heading {
			margin-top: 1.4em;
		}

		&__text {
			font-size: 2rem;
		}

		&__form {
			&-heading {
				font-size: 4.2rem;
			}
		}

		&__stats {
			margin-top: 6.4em;

			&-heading {
				font-size: 5rem;
			}

			&-text {
				font-size: 1.8rem;
			}
		}
	}
}
