@use 'utilities' as *;

.header-subpage {
	&--test {
		background-image: url('../img/header-img-small.jpg');
	}
}

.main-services {
	display: flex;
	flex-direction: column;
}

.service-info {
	margin-bottom: 2em;

	&__text {
		margin-bottom: 1em;
		font-size: 1.7rem;
	}

	&__carousel {
		margin-top: 0.4em;
		width: 100%;
	}
}

.related-services {
	&__links {
		list-style: none;
	}

	&__link {
		display: inline-block;
		margin-bottom: 0.2em;
		padding: 0.4em;
		width: 100%;
		font-size: 2.2rem;
		border: 1px solid $main-color;
		background-color: $main-color;
		text-align: center;
		text-decoration: none;
		color: $light-color;

		&--active {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				background-color: #fff;
			}
		}
	}
}
