@use 'utilities' as *;

@media (width > 375px) {
	.section-heading {
		font-size: 4rem;
	}

	.header {
		&__heading {
			font-size: 4.6rem;
		}

		&__text {
			font-size: 1.9rem;
		}

		&__form {
			&-heading {
				font-size: 3.8rem;
			}
		}
	}
}

@media (width > 420px) {
	.header {
		&__stats {
			margin-bottom: 1em;
			max-width: 402px;

			&-box {
				text-align: left;
			}
		}
	}
}

@media (width > 450px) {
	.contact {
		&__info-cards {
			display: flex;
			flex-direction: row;
		}
	}

	.footer {
		.wrapper {
			grid-template-columns: 1fr 1fr;
		}

		&__about-us-box {
			grid-column: 1 / 3;
		}
	}
}

@media (width > 576px) {
	.header {
		&__text {
			width: 85%;
		}

		&__stats {
			max-width: 402px;

			&-box:nth-child(1) {
				text-align: left;
			}

			&-box:nth-child(3) {
				text-align: left;
			}
		}
	}

	.services {
		&__card {
			&-heading {
				font-size: 2.4rem;
			}

			&-text {
				font-size: 1.6rem;
			}

			&-btn {
				padding: 0.4em 1.2em;
			}
		}
	}

	.features {
		&__cards {
			grid-template-columns: 1fr 1fr;
			gap: 4em 2em;
			margin-top: 3em;
		}

		&__card {
			&-text {
				font-size: 2rem;
			}
		}
	}

	.footer {
		&__heading {
			font-size: 2.8rem;
		}
	}

	.main-services {
		padding: 3.4em 2em;
	}
}
