<footer class="footer">
    <div class="wrapper">
        <div class="footer__box footer__about-us-box">
            <h3 class="footer__heading">Dawid Turowski</h3>
            <p class="footer__about-us-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
                optio
                commodi facilis. Explicabo, laboriosam a? Nobis ab repellendus provident laborum.</p>
        </div>
        <div class="footer__box">
            <h3 class="footer__heading">Strony</h3>
            <ul class="footer__links">
                <li class="footer__page-li footer__li"><a href="@@index"
                        class="footer__link link-animation link-animation--light">Strona główna</a></li>
                <li class="footer__page-li footer__li"><a href="@@about-us"
                        class="footer__link link-animation link-animation--light">O nas</a></li>
                <li class="footer__page-li footer__li"><a href="@@services"
                        class="footer__link link-animation link-animation--light">Usługi</a></li>
                <li class="footer__page-li footer__li"><a href="@@gallery"
                        class="footer__link link-animation link-animation--light">Galeria</a></li>
                <li class="footer__page-li footer__li"><a href="@@contact"
                        class="footer__link link-animation link-animation--light">Kontakt</a></li>
            </ul>
        </div>
        <div class="footer__box">
            <h3 class="footer__heading">Kontakt</h3>
            <ul class="footer__links">
                <li class="footer__mail-li footer__li"><a href="mailto:kontakt@mail.com"
                        class="footer__link link-animation link-animation--light">kontakt@mail.com</a></li>
                <li class="footer__map-li footer__li"><a href="https://maps.app.goo.gl/sYynAzmMJbTKi3d58"
                        class="footer__link link-animation link-animation--light">Szeroka 1, Kokoszczyn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__line"></div>

    <p class="footer__copyright">&copy; Firma Dawid Turowski | <span class="year">2025</span></p>
</footer>