<nav class="nav">
    <div class="nav__wrapper wrapper">
        <div class="nav__container">
            <h2 class="nav__logo">LOGO</h2>
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <ul class="nav__links">
            <li class="nav__li"><a class="nav__link" href="">O nas</a></li>
            <li class="nav__li"><a class="nav__link" href="">Usługi</a></li>
            <li class="nav__li"><a class="nav__link" href="">Galeria</a></li>
            <li class="nav__li"><a class="nav__link" href="">Kontakt</a></li>
        </ul>
    </div>
</nav>