<nav class="nav">
    <div class="nav__wrapper wrapper">
        <div class="nav__container">
            <h2 class="nav__logo"><a href="@@index" class="nav__logo-link">LOGO</a></h2>
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <ul class="nav__links">
            <li class="nav__li"><a class="nav__link" href="@@about-us">O nas</a></li>
            <li class="nav__li"><a class="nav__link" href="@@services">Usługi</a></li>
            <li class="nav__li"><a class="nav__link" href="@@gallery">Galeria</a></li>
            <li class="nav__li"><a class="nav__link" href="@@contact">Kontakt</a></li>
        </ul>
    </div>
</nav>